/* Réglages Généraux */

@font-face {
    font-family: "police-paragraphe";
    src: url(./paragraphe.otf);
}

@font-face {
    font-family: "police-titre";
    src: url(./titre.ttf);
}

        *{
/* Suprimer toutes les marges par défauts pour ne pas être embété par celle-ci */

    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* Palette de couleur*/

            /*arrière-plan, en-tête, pied de page*/
            --couleur-bleu-nuit:  #2C3E50;

            /*fond principal, zones de lecture*/
            --couleur-ivoine-clair: #F8F5F2;

            /*boutons, liens, accents*/
            --couleur-ocre-dore: #D4A373;

            /*survols, badges, éléments secondaires*/
            --couleur-vert-sauge: #A3B18A;

}

    body { 
        font-family: "police-paragraphe";
        background-color: var(--couleur-bleu-nuit);
        color: var(--couleur-ivoine-clair);
    }



/* Réglage Nav */

#logo2 {
    width: 5%;
    display: block;

}




/* Réglage Header */

header {
    position: relative;
    top: 15vmin;

        font-family: "police-titre";
        /*radialgradient et pour faire des dégradée de couleur j'ai mis circle at 50% pour faire un dégradée de manière circulaire*/
        background: radial-gradient(circle at 50% ,var(--couleur-ivoine-clair), var(--couleur-bleu-nuit) );
        color: var(--couleur-bleu-nuit);
        height: 15vh;
        

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
  
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 5px;
}

h3{
    font-size: 3rem;
}

h4{
font-size: 6rem;
font-family: "titre";
color: var(--couleur-ivoine-clair);
margin-right: 30px;
}

p{
    margin-bottom: 5px;
}

article{
    font-size: 2rem;
}

#header {
    width: 100vw;
    background-color: chartreuse;
    padding: 30px O;
    
}
#main {
 width : 100vw;
 height: 100vh;

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: stretch;
}

#left {
    background-color: aqua;
    width: 25%;
}

#right{
    width: 70%;
    background-color: rgb(216, 130, 18);
} 
nav{
    position: fixed;
    background-color: var(--couleur-bleu-nuit);
    width: 100vw;
    z-index: 10;

    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--couleur-ivoine-clair) 4px;
}

#nav-bar{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 5px;
}

.nav-button{
    font-size: 1.5rem;
    text-decoration: none;
    display: block;

    background-color: var(--couleur-ivoine-clair);
    color: var(--couleur-bleu-nuit);
    padding: 5px;

    width: 15%;
    margin: 5px;
    

    text-align: center;
    border-radius: 8px;
     border: solid var(--couleur-bleu-nuit) 2px;
     transition: background-color 500ms, color 1000ms, border 1000ms;
    
}

.nav-button:hover, .form-button:hover{
    background-color: var(--couleur-bleu-nuit);
    color: var(--couleur-ivoine-clair);
    border: solid var(--couleur-ivoine-clair) 2px;
}

/* Réglage Main eet Aside*/

#rangement{
        position: relative;
        top: 15vmin;

    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 30px;
}

main{
    width: 80%;
}

article{ 
    box-shadow: var(--couleur-ivoine-clair)2px 2px 5px 0, var(--couleur-ivoine-clair) inset 2px 2px 5px 0 ;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 1000ms;
}

article:hover{
    transform: scale(0.9);
}

aside{
    position: fixed;
    top: 25vmin;
    right: -33%;
    transition: right 900ms;
    

    width: 32%;
    z-index: 11;
    height: 90vh;
    overflow: scroll;

}


/*Réglage Arcticle 1*/
#text1-contenant{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;

}
#text1{
    width: 60%;
    padding: 10px;
}



/* Image Et Vidéo */

#video-e2c{
    display: block;
    max-width: 100%;
    width: 50%;
    aspect-ratio: 16/9;
    border-radius: 20px;

}

#lecture{
    max-width: 100%;
    width: 40%;
    float: right;
    box-shadow: var(--couleur-bleu-nuit)2px 2px 5px 0;
    

}

#prepa-num{
    max-width: 100%;
    width: 500vw;

}

#festnum{
    max-width: 100%;
    width: 500vw;

}

aside>article{
    padding: 15px;
    background-color: var(--couleur-ocre-dore);
    color: var(--couleur-ivoine-clair);
    border: solid rgb(85, 83, 83) 3px;
    border-radius: 10px;
}

/* Design De Malade*/

.intertext{
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
   
}

.it2{
    width: 100%;
    aspect-ratio: 1904/640;
    background-image: url(../src/bib1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
 
#main-game {
    position: relative;
    top: 15vmin;

    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;

    width: 100%;
    padding: 25px;

    font-size: 1.5rem;
}


#user-interface{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#user-number{
    font-size: 1.5rem;
    width: 13vw;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--couleur-vert-sauge);
}

#user-number:focus{
    background-color: var(--couleur-bleu-nuit);
    color: var(--couleur-ivoine-clair);
}


#send-button{
    display: block;
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 20px;

    background-color: var(--couleur-vert-sauge);
    border-radius: 10px;

    box-shadow: var(--couleur-ivoine-clair) 3px 3px 5px 0;
    transition: box-shadow 250ms, background-color 250ms;

}

#send-button:hover{
    background-color: var(--couleur-bleu-nuit);
    /*box-shadow: 0 0 0 0;*/
}

.result-line{
    font-family: "police-titre";
    border: var(--couleur-vert-sauge)solid 2px;
    border-radius: 5px;
    font-size: 1.8rem;
    margin: 10px;
}

/* Réglage Js Des News */

#news-trigger {
    position: fixed;
    top: 38vh;
    right: 0;
    padding: 10px;
    border-radius: 10px 0 0 10px;


    border-top: var(--couleur-vert-sauge)solid 1px;
    border-left: var(--couleur-vert-sauge)solid 1px;
    border-bottom: var(--couleur-vert-sauge)solid 1px;
    background-color: var(--couleur-ocre-dore);
    color: var(--couleur-ivoine-clair);
    opacity: 1;
    transition: opacity 1000ms;

    text-orientation: mixed;
    writing-mode: vertical-lr;
    font-size: large;
    font-weight: 800;

    z-index: 10;
    cursor: pointer;
    

}

#close {
   /* position: absolute;

    right: 0;
    top: -6vh;*/

    padding: 5px;
    background-color: var(--couleur-ocre-dore);
    color: var(--couleur-ivoine-clair);
    border: solid rgb(85, 83, 83) 3px;
    border-radius: 5px;
    
    font-weight: 800;
    cursor: pointer;
    z-index: 25;
}

/* Formulaire de connexion */ 


#connect-box {
    z-index : 20;
    position : fixed;
    width : 35vw;
    height : 20vh;
    top : 40vh;
    left : 30vw;

    background-color: var(--couleur-bleu-nuit);
    color: (var(--couleur-ivoine-clair));
    border: var(--couleur-ivoine-clair) 1px solid;
    border-radius: 10px;

    box-shadow: black 2px 2px 4px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    padding: 1vh 2vw;
}



.connect-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.connect-line>label {
    font-size: 1.4rem;
    font-weight: 800;
    
}

.connect-line>input {    
    
    border-radius: 3px;
    width : 70%;
    font-size: 1.4rem;
    padding: 5px;
}


.form-button {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    max-width : 30%;
    background-color: var(--couleur-bleu-nuit);
    color: var(--couleur-ivoine-clair);
    padding: 10px 25px;

    
    margin : 5px;

    text-align: center;
    border-radius: 5px;
    border: solid var(--couleur-ivoine-clair) 2px;
    transition: background-color 300ms, color 500ms, border 500ms;
}

#connect-close {
    position: absolute;
    right: 0vh;
    top : -4.5vh;
    height: 3.5vh;
    aspect-ratio: 1;

    background-color: var(--couleur-bleu-nuit);
    color: (var(--couleur-ivoine-clair));
    border: var(--couleur-ivoine-clair) 1px solid;
    border-radius: 10%;

    box-shadow: black 2px 2px 4px 0;

    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;

    user-select: none;
}